<div class="container">
  <h1>Login</h1>
  <div class="form-signin">
  <%= form_for(:user, url: sessions_path) do |f| %>
    <div class="field input-block-level">
      <%= f.label :username %> <br/>
      <%= f.text_field :username %>
    </div>
    <p/>
    <div class="field input-block-level">
      <%= f.label :password %> <br/>
      <%= f.password_field :password %>
    </div>
    <p/>
    <div class="actions">
      <%= f.submit "Login", class: "btn btn-large btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
